// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div {
  &.posts {
    h1 {
      color: blue;
    }
  }
  &.image {
    width: 100px;
    height: 100px;
    background-image: image-url("yoga.jpeg");
    background-size: cover;
  }
}
